$('#results').empty();
$('#results').append($('<option>Select the Contact</option>'));
<% @actions.each do |action| %>
$('.contact_selection').append($('<option value="<%= action %>"><%= action %></option>'));
<% end %>