  <h4>Welcome!</h4>

  <div>
    <p>This is is a Ruby on Rails version of Moodle.</p>
    <p>This site still under developing</p>
    <br/>
    <p>To see a more interesting demo site with more realistic content, visit:
      <a href="http://school.moodledemo.net/">Mount Orange School</a></p>
  </div>