<div class="table-responsive">
  <table id='users' class="table table-sm table-hover table-striped">
    <tr>
      <th>id</th>
      <th>name</th>
      <th>edit</th>
    </tr>
    <% @roles.each do |role| %>
      <tr>
        <td><%= role.id %></td>
        <td><%= link_to role.name, admin_role_path(role) %></td>
        <td><%= button_to edit_admin_role_path(role), method: :get do %>
            <%= fa_icon "edit" %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </table>
</div>