<p>
  <strong>Role Name:</strong>
  <%== @role.name %>
</p>
<p><%= link_to :add_new_authorities, new_admin_role_role_authority_path(@role) %></p>
<%= render partial: 'admin/role_authorities/authorities', locals: {authorities: @role} %>
