<h2> Attach new policies</h2>

<%= form_for @attach, url: @path_attach do |f| %>
  <div class="field">
    <!--    todo: provide better presentation of policy selection, and ignore the policy has attached-->
    <%= f.label :policy_id %>
    <%== f.collection_select :policy_id, Policy.all, :id, :name, prompt: "Pick a Policy" %>
  </div>
  <br/>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>