<% if notice || alert %>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
<% end %>
<header class="row">
  <div class="col-12 pt-3 pb-3">
    <div class="border p-2">
      <div class="d-sm-flex align-items-center mr-auto">
        <div class="page-context-header"><h1>Moodle Site Administration</h1></div>
      </div>
      <div class="d-flex flex-wrap">
        <nav aria-label="Navigation bar">
          <ol class="breadcrumb">
            <li class="breadcrumb-item">aaa</li>
          </ol>
        </nav>
      </div>
    </div>
  </div>
</header>