<% flash.each do |type, msg| %>
  <p class="alert alert-<%= type %>"><%== msg %></p>
<% end %>
<header class="bg-light p-1">
  <div class="col-12 pt-3 pb-3">
    <div class="p-2">
      <div class="d-sm-flex align-items-center mr-auto">
        <div class="page-context-header"><h1>Moodle Ruby On Rails</h1></div>
      </div>
      <div class="d-flex flex-wrap">
        <nav aria-label="Navigation bar">
          <% unless @header_links.blank? %>
            <ol class="breadcrumb">
              <% @header_links.each do |link| %>
                <li class="breadcrumb-item">
                  <% link[0].each do |name, url| %>
                    <%= link_to name.titleize, url.to_sym %>
                  <% end %>
                </li>
              <% end %>
            </ol>
          <% end %>
        </nav>
      </div>
    </div>
  </div>
</header>