<div class="sidebar-heading font-weight-bold">Moodle Rails</div>
<div class="list-group list-group-flush">
  <%# @menu.each do |m| %>
  <!--    <li><a href="#" class="list-group-item list-group-item-action bg-light"><%#= m %></a></li>-->
  <%# end %>
  <% if user_signed_in? %>
    <a href="#" class="list-group-item list-group-item-action bg-light">Dashboard</a>
    <a href="#" class="list-group-item list-group-item-action bg-light">Calendar</a>
    <a href="#" class="list-group-item list-group-item-action bg-light">Private files</a>
    <a href="#" class="list-group-item list-group-item-action bg-light">Customise Content</a>
    <a href="" class="list-group-item list-group-item-action list-group-item-primary disabled">My Courses:</a>
    <% @my_courses.each do |course| %>
      <%= link_to course.name.humanize, course, class: "list-group-item list-group-item-action bg-light pl-5" %>
    <% end %>
    <%= link_to :site_administration, admin_path, class: 'list-group-item list-group-item-action bg-light' %>
  <% end %>
</div>